*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #f1f1f1;
}

header{
    background-color: #B33771;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #6D214F;
    justify-content: space-around;
    text-transform:uppercase;
    font-style:italic;
    align-items: center;
}

header button {
    margin-left: 16px ;
}

form {
    background-color: #dbc8e5;
    padding: 24px 0;
    text-align:center;
    display:none;
}

form h2{
    margin-bottom: 16px;
}

.area-input {
    display: flex;
    justify-content: center;
    gap: 10px;
}
input {
    max-width: 280px;
    width: 100%;
}

input, button{
    padding: 8px;
    border-radius: 6px;
}

button{
    background-color: #009432;
    border:none;
    cursor:pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 35px;
}

#btn-cancelar{
    background-color: #ff0000;
}

ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

ul li {
    max-width: 100%;
    list-style:none;
    position: relative;
    max-height: 280px;
    height: 100%;
}


ul li img{
    width:100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1;
}

.overlay-imagem-link{
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position:absolute;
    bottom: 0;
    width: 100%;
    
    opacity: 0;
    transition: all .4s ease-in;
}

.overlay-imagem-link a{
    color: #FFF;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link{
    opacity: 1;
}

@media (max-width:768px){
    header h1 {
        font-size: 20px;
    }

    .area-input {
        flex-direction: column;
        align-items: center;
    }

    button {
        font-size: 10px;
    }

    ul{
        grid-template-columns: repeat(2, 1fr);
    }
}